{{ ansible_managed | comment }}

[Unit]
Description=Prometheus logstash Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
Restart=always
ExecStart={{ logstash_exporter_install_dir }}/logstash-exporter -web.listen-address {{ logstash_exporter_port }} -log.level {{ logstash_exporter_loglevel }}
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=logstash-exporter
RestartSec=1
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
